body{
    font-family: Helvetica, sans-serif;
}

.profile-picture{
    width: 150px;
}

h1{
    font-size: 20px;
}

.card{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    width: 500px;
    margin: 0px auto;
    border-radius: 20px;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    
}

.border{
    border: 2px dotted blue;
}